<div class="homing">
<%- include("partials/header"); -%>

  <h1>Contact</h1>
  <p><%= cntcnt %></p>
   <h2>Contact Details</h2>
   <p>Contact-number = 9413574200</p>


   <p>Instagram =
     <a href="https://www.instagram.com/siddharthsngh352/">siddharthsngh352</a>
   </p>
   <p>
     codechef =
     <a href="https://www.codechef.com/users/siddharthsngh">siddharthsngh</a>
     </p>
    <p>
      codeforces =
      <a href="https://codeforces.com/profile/siddharthsngh">siddharthsngh</a>
      </p>
    <p>Github =
   <a href="https://github.com/Siddharth352">siddhath352</a>
    </p>

<%- include("partials/footer"); -%>

</div>
