<%- include('partials/header') %>


<div class="pop">
<div class="pop2">
  <h1>Welcome to Daily Blogs</h1>
</div>

  <h2>Enter and start writing your Blogs</h2>


  <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
  <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
</div>





<%- include('partials/footer') %>
